@{ 
    var data = (string)ViewData["data"];
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>WebAV-去子文件夹</title>

        @Html.Partial("Header")
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 px-1 bg-dark position-fixed" id="sticky-sidebar">
                    <div id="treeView"></div>
                </div>
                <div class="col offset-3" id="main">
                    <h1>Main Area</h1>
                </div>
            </div>
        </div>

        <script>
            $('#treeView').treeview({ data: [{ "text": "System", "icon": "fa fa-terminal", "selectable": true, "nodes": [{ "text": "D:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "未找到", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "E:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "全彩中文无修韩漫", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "日漫大合集", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "F:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "G:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "AllInOneAV", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "AVWeb", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "DB", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "Github", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "Info", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "JavLibraryImgs", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "log", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "Manga", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "OneDrive", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "OneDriveTemp", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "SteamLibrary", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "H:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "BaiduNetdiskDownload", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "I:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "J:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "K:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "L:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "M:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "N:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "O:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "P:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "Downloads", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }, { "text": "pt", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "Q:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "fin", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "R:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "FIN", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }, { "text": "S:\\", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true, "nodes": [{ "text": "movefiles", "icon": "fa fa-folder", "selectedIcon": "fa fa-folder-open", "selectable": true }] }] }] });
        </script>
    </body>
</html>