USE [master]
GO
/****** Object:  Database [Manga]    Script Date: 11/27/2020 5:28:43 PM ******/
CREATE DATABASE [Manga]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Manga', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Manga.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Manga_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Manga_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Manga].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Manga]
GO
/****** Object:  Table [dbo].[MangaCategory]    Script Date: 11/27/2020 5:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangaCategory](
	[MangaCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[SourceType] [int] NOT NULL,
	[RootCategory] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_MangaCategory] PRIMARY KEY CLUSTERED 
(
	[MangaCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
